.page-footer{
    border-top: 1px solid #e9ecef;
    padding: 0;
}
.custom-footer{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background: #fff;
}
.list-unstyled{
    display: flex;
    justify-content: flex-end;
}
.list-unstyled >li{
    margin: 5px;
}
.footer-copyright{
    padding-left: 10px;
}