

  
    <!-- Footer -->
    <footer class="page-footer font-small purple pt-4 fixed-bottom">

  
      <!-- Copyright -->
    <div class="custom-footer">
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a>Country Limited</a>
      </div>
        <div>
            <ul class="list-unstyled">
              <li>
                <a href="#!">Terms & Conditions</a>
              </li>
              <li>
                <a href="#!">Contact Us</a>
              </li>
              <li>
                <a href="#!">Email</a>
              </li>
            </ul>
  
          </div>
    </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->

  